<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]

    RewriteCond %{HTTP:X-API-KEY} (.+)
    RewriteRule .* - [E=HTTP_X_API_KEY:%1]
</IfModule>
